<div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Language</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mediaGroup in data.mediaGroups">
            <td>{{mediaGroup.id}}</td>
            <td>{{mediaGroup.name}}</td>
            <td>{{mediaGroup.description}}</td>
            <td ng-init="augmentLanguage(mediaGroup)">{{mediaGroup.language.name}}</td>
            <td>
                <a href="#/mediaGroup/{{mediaGroup.id}}" class="btn btn-sm btn-success">Edit</a>
                <button ng-click="delete(mediaGroup)" class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><div class="form-group-sm"><input class="form-control" ng-model="data.newMediaGroup.name"/></div></td>
            <td><div class="form-group-sm">
                <textarea class="form-control" ng-model="data.newMediaGroup.description" rows="2"></textarea>
            </div></td>
            <td><div class="form-group-sm">
                <select ng-options="l.name for l in data.languages track by l.id"
                        ng-model="data.selectedLanguage"
                        ng-change="data.newMediaGroup.languageId = data.selectedLanguage.id"></select></div></td>
            <td><button ng-click="create()" class="btn btn-sm btn-warning">Create</button></td>
        </tr>
        </tbody>
    </table>

    <a href="#/mediaGroup/">All medias</a>

</div>