@(title: String)

<!DOCTYPE html>

<html lang="en" ng-app="lang">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("components/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("components/angular-bootstrap/ui-bootstrap-csp.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body keypress-events>

        <div class="container-fluid">
            <div class="raw">
                <div class="col-md-12">
                    <div ng-view></div>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.versioned("components/jquery/dist/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("components/angular/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("components/angular-bootstrap/ui-bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("components/angular-bootstrap/ui-bootstrap-tpls.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("components/angular-resource/angular-resource.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("components/angular-route/angular-route.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("components/underscore/underscore-min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("js/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/directives.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/services/audio-player-service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/services/media-service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/services/subtitle-service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/services/subtitle-upload-service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/services/language-service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/services/translation-service.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("js/controllers/main-controller.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/controllers/media-controller.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/controllers/translator-controller.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/controllers/add-subtitles-controller.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/controllers/yes-no-modal-controller.js")" type="text/javascript"></script>

    </body>
</html>
